@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

*::-webkit-scrollbar {
  display: none;
}
*::selection {
  user-select: none;
  background-color: transparent;
}

body {
  background-color: #f7f7fa;
}

.active {
  color: #e61030 !important;
}
