@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

* {
  @apply m-0 p-0 box-border;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

*::-webkit-scrollbar {
  display: none;
}
*::selection {
  @apply select-none bg-[#e61030] text-white;
}

/* input[type="search"]::-webkit-search-cancel-button {
  -webkit-appearance: none;
}
 */
body {
  @apply bg-[#f7f7fa];
}

.active {
  @apply !text-[#e61030];
}

.alert {
  @apply bg-[#7f7f7f67];
}
.react-confirm-alert-body {
  @apply rounded-lg bg-white p-7 font-bold w-full text-[18px] lg:p-11 lg:text-[25px];
}
